
# Accessing Data within Pandas - Lab

## Introduction

In this lab, we'll look at a data set which contains information World cup matches. Let's use the pandas commands learned in the previous lecture to learn more about our data!

## Objectives
You will be able to:
* Understand and explain some key Pandas methods
* Access DataFrame data by using the label
* Perform boolean indexing on both Series and DataFrames
* Use simple selectors for series
* Set new Series and DataFrame inputs

## Load the data

Load the file `WorldCupMatches.csv` as a dataframe in Pandas

In [5]:
import pandas as pd
df = pd.read_csv('WorldCupMatches.csv')
df.shape

(4572, 20)

## Common methods and attributes

Use the correct method to look at the first 7 rows of the data set.

In [6]:
df.head(7)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
5,1930.0,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3.0,0.0,Mexico,,9249.0,1.0,0.0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201.0,1095.0,CHI,MEX
6,1930.0,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4.0,0.0,Bolivia,,18306.0,0.0,0.0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201.0,1092.0,YUG,BOL

Look at the last 3 rows of the data set.

In [7]:
df.tail(3)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Get a concise summary of your data using `.info()`

In [8]:
df.info

<bound method DataFrame.info of         Year              Datetime              Stage  \
0     1930.0  13 Jul 1930 - 15:00             Group 1
1     1930.0  13 Jul 1930 - 15:00             Group 4
2     1930.0  14 Jul 1930 - 12:45             Group 2
3     1930.0  14 Jul 1930 - 14:50             Group 3
4     1930.0  15 Jul 1930 - 16:00             Group 1
5     1930.0  16 Jul 1930 - 14:45             Group 1
6     1930.0  17 Jul 1930 - 12:45             Group 2
7     1930.0  17 Jul 1930 - 14:45             Group 4
8     1930.0  18 Jul 1930 - 14:30             Group 3
9     1930.0  19 Jul 1930 - 12:50             Group 1
10    1930.0  19 Jul 1930 - 15:00             Group 1
11    1930.0  20 Jul 1930 - 13:00             Group 2
12    1930.0  20 Jul 1930 - 15:00             Group 4
13    1930.0  21 Jul 1930 - 14:50             Group 3
14    1930.0  22 Jul 1930 - 14:45             Group 1
15    1930.0  26 Jul 1930 - 14:45         Semi-finals
16    1930.0  27 Jul 1930 - 14:45         Semi-finals
17    1930.0  30 Jul 1930 - 14:15               Final
18    1934.0  27 May 1934 - 16:30   Preliminary round
19    1934.0  27 May 1934 - 16:30   Preliminary round
20    1934.0  27 May 1934 - 16:30   Preliminary round
21    1934.0  27 May 1934 - 16:30   Preliminary round
22    1934.0  27 May 1934 - 16:30   Preliminary round
23    1934.0  27 May 1934 - 16:30   Preliminary round
24    1934.0  27 May 1934 - 16:30   Preliminary round
25    1934.0  27 May 1934 - 16:30   Preliminary round
26    1934.0  31 May 1934 - 16:30      Quarter-finals
27    1934.0  31 May 1934 - 16:30      Quarter-finals
28    1934.0  31 May 1934 - 16:30      Quarter-finals
29    1934.0  31 May 1934 - 16:30      Quarter-finals
...      ...                   ...                ...
4542     NaN                   NaN                NaN
4543     NaN                   NaN                NaN
4544     NaN                   NaN                NaN
4545     NaN                   NaN                NaN
4546     NaN                   NaN                NaN
4547     NaN                   NaN                NaN
4548     NaN                   NaN                NaN
4549     NaN                   NaN                NaN
4550     NaN                   NaN                NaN
4551     NaN                   NaN                NaN
4552     NaN                   NaN                NaN
4553     NaN                   NaN                NaN
4554     NaN                   NaN                NaN
4555     NaN                   NaN                NaN
4556     NaN                   NaN                NaN
4557     NaN                   NaN                NaN
4558     NaN                   NaN                NaN
4559     NaN                   NaN                NaN
4560     NaN                   NaN                NaN
4561     NaN                   NaN                NaN
4562     NaN                   NaN                NaN
4563     NaN                   NaN                NaN
4564     NaN                   NaN                NaN
4565     NaN                   NaN                NaN
4566     NaN                   NaN                NaN
4567     NaN                   NaN                NaN
4568     NaN                   NaN                NaN
4569     NaN                   NaN                NaN
4570     NaN                   NaN                NaN
4571     NaN                   NaN                NaN

                      Stadium         City  Home Team Name  Home Team Goals  \
0                     Pocitos  Montevideo           France              4.0
1              Parque Central  Montevideo              USA              3.0
2              Parque Central  Montevideo       Yugoslavia              2.0
3                     Pocitos  Montevideo          Romania              3.0
4              Parque Central  Montevideo        Argentina              1.0
5              Parque Central  Montevideo            Chile              3.0
6              Parque Central  Montevideo       Yugoslavia              4.0
7              Parque Central  Montevideo              USA              3.0
8          Estadio Centenario  Montevideo          Uruguay              1.0
9          Estadio Centenario  Montevideo            Chile              1.0
10         Estadio Centenario  Montevideo        Argentina              6.0
11         Estadio Centenario  Montevideo           Brazil              4.0
12         Estadio Centenario  Montevideo         Paraguay              1.0
13         Estadio Centenario  Montevideo          Uruguay              4.0
14         Estadio Centenario  Montevideo        Argentina              3.0
15         Estadio Centenario  Montevideo        Argentina              6.0
16         Estadio Centenario  Montevideo          Uruguay              6.0
17         Estadio Centenario  Montevideo          Uruguay              4.0
18    Stadio Benito Mussolini       Turin          Austria              3.0
19          Giorgio Ascarelli      Naples          Hungary              4.0
20                   San Siro       Milan      Switzerland              3.0
21                  Littorale     Bologna           Sweden              3.0
22             Giovanni Berta    Florence          Germany              5.0
23             Luigi Ferraris       Genoa            Spain              3.0
24              Nazionale PNF        Rome            Italy              7.0
25                   Littorio     Trieste   Czechoslovakia              2.0
26    Stadio Benito Mussolini       Turin   Czechoslovakia              3.0
27                   San Siro       Milan          Germany              2.0
28             Giovanni Berta    Florence            Italy              1.0
29                  Littorale     Bologna          Austria              2.0
...                       ...          ...             ...              ...
4542                      NaN          NaN             NaN              NaN
4543                      NaN          NaN             NaN              NaN
4544                      NaN          NaN             NaN              NaN
4545                      NaN          NaN             NaN              NaN
4546                      NaN          NaN             NaN              NaN
4547                      NaN          NaN             NaN              NaN
4548                      NaN          NaN             NaN              NaN
4549                      NaN          NaN             NaN              NaN
4550                      NaN          NaN             NaN              NaN
4551                      NaN          NaN             NaN              NaN
4552                      NaN          NaN             NaN              NaN
4553                      NaN          NaN             NaN              NaN
4554                      NaN          NaN             NaN              NaN
4555                      NaN          NaN             NaN              NaN
4556                      NaN          NaN             NaN              NaN
4557                      NaN          NaN             NaN              NaN
4558                      NaN          NaN             NaN              NaN
4559                      NaN          NaN             NaN              NaN
4560                      NaN          NaN             NaN              NaN
4561                      NaN          NaN             NaN              NaN
4562                      NaN          NaN             NaN              NaN
4563                      NaN          NaN             NaN              NaN
4564                      NaN          NaN             NaN              NaN
4565                      NaN          NaN             NaN              NaN
4566                      NaN          NaN             NaN              NaN
4567                      NaN          NaN             NaN              NaN
4568                      NaN          NaN             NaN              NaN
4569                      NaN          NaN             NaN              NaN
4570                      NaN          NaN             NaN              NaN
4571                      NaN          NaN             NaN              NaN

      Away Team Goals Away Team Name                 Win conditions  \
0                 1.0         Mexico
1                 0.0        Belgium
2                 1.0         Brazil
3                 1.0           Peru
4                 0.0         France
5                 0.0         Mexico
6                 0.0        Bolivia
7                 0.0       Paraguay
8                 0.0           Peru
9                 0.0         France
10                3.0         Mexico
11                0.0        Bolivia
12                0.0        Belgium
13                0.0        Romania
14                1.0          Chile
15                1.0            USA
16                1.0     Yugoslavia
17                2.0      Argentina
18                2.0         France  Austria win after extra time
19                2.0          Egypt
20                2.0    Netherlands
21                2.0      Argentina
22                2.0        Belgium
23                1.0         Brazil
24                1.0            USA
25                1.0        Romania
26                2.0    Switzerland
27                1.0         Sweden
28                1.0          Spain
29                1.0        Hungary
...               ...            ...                            ...
4542              NaN            NaN                            NaN
4543              NaN            NaN                            NaN
4544              NaN            NaN                            NaN
4545              NaN            NaN                            NaN
4546              NaN            NaN                            NaN
4547              NaN            NaN                            NaN
4548              NaN            NaN                            NaN
4549              NaN            NaN                            NaN
4550              NaN            NaN                            NaN
4551              NaN            NaN                            NaN
4552              NaN            NaN                            NaN
4553              NaN            NaN                            NaN
4554              NaN            NaN                            NaN
4555              NaN            NaN                            NaN
4556              NaN            NaN                            NaN
4557              NaN            NaN                            NaN
4558              NaN            NaN                            NaN
4559              NaN            NaN                            NaN
4560              NaN            NaN                            NaN
4561              NaN            NaN                            NaN
4562              NaN            NaN                            NaN
4563              NaN            NaN                            NaN
4564              NaN            NaN                            NaN
4565              NaN            NaN                            NaN
4566              NaN            NaN                            NaN
4567              NaN            NaN                            NaN
4568              NaN            NaN                            NaN
4569              NaN            NaN                            NaN
4570              NaN            NaN                            NaN
4571              NaN            NaN                            NaN

      Attendance  Half-time Home Goals  Half-time Away Goals  \
0         4444.0                   3.0                   0.0
1        18346.0                   2.0                   0.0
2        24059.0                   2.0                   0.0
3         2549.0                   1.0                   0.0
4        23409.0                   0.0                   0.0
5         9249.0                   1.0                   0.0
6        18306.0                   0.0                   0.0
7        18306.0                   2.0                   0.0
8        57735.0                   0.0                   0.0
9         2000.0                   0.0                   0.0
10       42100.0                   3.0                   1.0
11       25466.0                   1.0                   0.0
12       12000.0                   1.0                   0.0
13       70022.0                   4.0                   0.0
14       41459.0                   2.0                   1.0
15       72886.0                   1.0                   0.0
16       79867.0                   3.0                   1.0
17       68346.0                   1.0                   2.0
18       16000.0                   0.0                   0.0
19        9000.0                   2.0                   2.0
20       33000.0                   2.0                   1.0
21       14000.0                   1.0                   1.0
22        8000.0                   1.0                   2.0
23       21000.0                   3.0                   0.0
24       25000.0                   3.0                   0.0
25        9000.0                   0.0                   1.0
26       12000.0                   1.0                   1.0
27        3000.0                   0.0                   0.0
28       35000.0                   0.0                   0.0
29       23000.0                   1.0                   0.0
...          ...                   ...                   ...
4542         NaN                   NaN                   NaN
4543         NaN                   NaN                   NaN
4544         NaN                   NaN                   NaN
4545         NaN                   NaN                   NaN
4546         NaN                   NaN                   NaN
4547         NaN                   NaN                   NaN
4548         NaN                   NaN                   NaN
4549         NaN                   NaN                   NaN
4550         NaN                   NaN                   NaN
4551         NaN                   NaN                   NaN
4552         NaN                   NaN                   NaN
4553         NaN                   NaN                   NaN
4554         NaN                   NaN                   NaN
4555         NaN                   NaN                   NaN
4556         NaN                   NaN                   NaN
4557         NaN                   NaN                   NaN
4558         NaN                   NaN                   NaN
4559         NaN                   NaN                   NaN
4560         NaN                   NaN                   NaN
4561         NaN                   NaN                   NaN
4562         NaN                   NaN                   NaN
4563         NaN                   NaN                   NaN
4564         NaN                   NaN                   NaN
4565         NaN                   NaN                   NaN
4566         NaN                   NaN                   NaN
4567         NaN                   NaN                   NaN
4568         NaN                   NaN                   NaN
4569         NaN                   NaN                   NaN
4570         NaN                   NaN                   NaN
4571         NaN                   NaN                   NaN

                         Referee                 Assistant 1  \
0         LOMBARDI Domingo (URU)       CRISTOPHE Henry (BEL)
1              MACIAS Jose (ARG)    MATEUCCI Francisco (URU)
2            TEJADA Anibal (URU)     VALLARINO Ricardo (URU)
3          WARNKEN Alberto (CHI)         LANGENUS Jean (BEL)
4            REGO Gilberto (BRA)        SAUCEDO Ulises (BOL)
5          CRISTOPHE Henry (BEL)     APHESTEGUY Martin (URU)
6       MATEUCCI Francisco (URU)      LOMBARDI Domingo (URU)
7              MACIAS Jose (ARG)     APHESTEGUY Martin (URU)
8            LANGENUS Jean (BEL)         BALWAY Thomas (FRA)
9            TEJADA Anibal (URU)      LOMBARDI Domingo (URU)
10          SAUCEDO Ulises (BOL)      ALONSO Gualberto (URU)
11           BALWAY Thomas (FRA)    MATEUCCI Francisco (URU)
12       VALLARINO Ricardo (URU)           MACIAS Jose (ARG)
13           REGO Gilberto (BRA)       WARNKEN Alberto (CHI)
14           LANGENUS Jean (BEL)       CRISTOPHE Henry (BEL)
15           LANGENUS Jean (BEL)        VALLEJO Gaspar (MEX)
16           REGO Gilberto (BRA)        SAUCEDO Ulises (BOL)
17           LANGENUS Jean (BEL)        SAUCEDO Ulises (BOL)
18    VAN MOORSEL Johannes (NED)       CAIRONI Camillo (ITA)
19      BARLASSINA Rinaldo (ITA)      DATTILO Generoso (ITA)
20             EKLIND Ivan (SWE)         BERANEK Alois (AUT)
21             BRAUN Eugen (AUT)        CARRARO Albino (ITA)
22        MATTEA Francesco (ITA)  MELANDRI Ermenegildo (ITA)
23           BIRLEM Alfred (GER)      CARMINATI Ettore (ITA)
24             MERCET Rene (SUI)        ESCARTIN Pedro (ESP)
25           LANGENUS Jean (BEL)       SCARPI Giuseppe (ITA)
26           BERANEK Alois (AUT)       MOHAMED Youssuf (EGY)
27      BARLASSINA Rinaldo (ITA)           MERCET Rene (SUI)
28             BAERT Louis (BEL)       ZENISEK Bohumil (TCH)
29        MATTEA Francesco (ITA)        ESCARTIN Pedro (ESP)
...                          ...                         ...
4542                         NaN                         NaN
4543                         NaN                         NaN
4544                         NaN                         NaN
4545                         NaN                         NaN
4546                         NaN                         NaN
4547                         NaN                         NaN
4548                         NaN                         NaN
4549                         NaN                         NaN
4550                         NaN                         NaN
4551                         NaN                         NaN
4552                         NaN                         NaN
4553                         NaN                         NaN
4554                         NaN                         NaN
4555                         NaN                         NaN
4556                         NaN                         NaN
4557                         NaN                         NaN
4558                         NaN                         NaN
4559                         NaN                         NaN
4560                         NaN                         NaN
4561                         NaN                         NaN
4562                         NaN                         NaN
4563                         NaN                         NaN
4564                         NaN                         NaN
4565                         NaN                         NaN
4566                         NaN                         NaN
4567                         NaN                         NaN
4568                         NaN                         NaN
4569                         NaN                         NaN
4570                         NaN                         NaN
4571                         NaN                         NaN

                     Assistant 2  RoundID  MatchID Home Team Initials  \
0            REGO Gilberto (BRA)    201.0   1096.0                FRA
1          WARNKEN Alberto (CHI)    201.0   1090.0                USA
2            BALWAY Thomas (FRA)    201.0   1093.0                YUG
3       MATEUCCI Francisco (URU)    201.0   1098.0                ROU
4     RADULESCU Constantin (ROU)    201.0   1085.0                ARG
5            LANGENUS Jean (BEL)    201.0   1095.0                CHI
6          WARNKEN Alberto (CHI)    201.0   1092.0                YUG
7            TEJADA Anibal (URU)    201.0   1097.0                USA
8          CRISTOPHE Henry (BEL)    201.0   1099.0                URU
9            REGO Gilberto (BRA)    201.0   1094.0                CHI
10    RADULESCU Constantin (ROU)    201.0   1086.0                ARG
11          VALLEJO Gaspar (MEX)    201.0   1091.0                BRA
12        LOMBARDI Domingo (URU)    201.0   1089.0                PAR

Obtain a tuple representing the number of rows and number of columns

In [10]:
df.shape

(4572, 20)

Use the appropriate attribute to get the column names

In [11]:
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

## Selecting dataframe information

When looking at the dataframe's `.head()`, you might have noticed that the games are structured chronologically in the dataframe.

Use the right selection method to print all the information from the 3rd to the 5th game.

In [18]:
df.iloc[2:5]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA

Now, print all the info from game 5-9, but we're only interested to print out the "Home Team Name" and the "Away Team Name",

In [20]:
df.iloc[4:9,]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
5,1930.0,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3.0,0.0,Mexico,,9249.0,1.0,0.0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201.0,1095.0,CHI,MEX
6,1930.0,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4.0,0.0,Bolivia,,18306.0,0.0,0.0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201.0,1092.0,YUG,BOL
7,1930.0,17 Jul 1930 - 14:45,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Paraguay,,18306.0,2.0,0.0,MACIAS Jose (ARG),APHESTEGUY Martin (URU),TEJADA Anibal (URU),201.0,1097.0,USA,PAR
8,1930.0,18 Jul 1930 - 14:30,Group 3,Estadio Centenario,Montevideo,Uruguay,1.0,0.0,Peru,,57735.0,0.0,0.0,LANGENUS Jean (BEL),BALWAY Thomas (FRA),CRISTOPHE Henry (BEL),201.0,1099.0,URU,PER

Next, we'd like the information on all the games played in Group 3 for the 1950 World Cup.

Let's repeat the command above, but now we only want to print out the attendance colum for the Group 3 games

You can combine conditions like this:

`df[(condition1) | (condition2)]`  -> Returns rows where either condition is true

`df[(condition1) & (condition2)]`  -> Returns rows where both conditions are true

Throughout the entire history of the world cup, How many Home games were played by the Netherlands?

How many games were playes by the Netherlands in total?

Next, let's try and figure out how many games the USA played in the 2014 world cup.

Now, let's try to find out how many countries participated in the 1986 world cup.

Hint 1: as a first step, create a new data set that only contain games in that year.

Hint 2: You can use `.unique()` to make sure you don't end up with duplicate country names.

In the world cup history, how matches had more than 5 goals in total?

## Changing values and creating new columns

With the information you currently have in your `df`, create a new column "Half-time Goals".

Run the code below. You'll notice that for Korea, there are records for both North-Korea (Korea DPR) and South-Korea (Korea Republic).

In [ ]:
df.loc[df["Home Team Name"].str.contains('Korea'), "Home Team Name" ]

Imagine that for some reason, we simply want Korea listed as one entry, so we want to replace every "Home Team Name" and "Away Team Name" entry that contains "Korea" to simply "Korea". In the same way, we want to change the columns "Home Team Initials" and "Away Team Initials" to NSK (North & South Korea) instead of "KOR" and "PRK".

Make sure to verify your answer!